$colorPrimary: #673ab7;
$colorSecondary: #673ab7;
$colorDark: #000000;
$colorBack: #f1f1f1;

$smBreak: 600px;
$xsBreak: 330px;
$xsHeightBreak: 438px;

html, body, #root {
  height:100%;
  margin:0px;
}
.mainMenu {
  min-width:300px;
}
.link {
  color:inherit !important;
  text-decoration:none;
  &.highlight {
    color:$colorPrimary !important;
    &:hover {
      text-decoration:underline;
    }
  }
}
.MuiAlert-filledSuccess {
  background-color:$colorPrimary !important;
}
.app {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $colorBack;
  position:relative;
  .auxMenu {
    text-align:right;
    button {
      margin-top:7px;
      margin-left:10px;
    }
  }
  .footer {
    margin-top:0px;
    margin-bottom:20px;
    border-top:1px solid #ccc;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.24+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.24) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.24) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.24) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    > div {
      padding:15px;
      font-size:16px;
      text-align:center;
      > span {
        color:#999;
      }
    }
  }
  a {
    color:$colorPrimary;
    text-decoration:none;
    &:hover {
      
    }
  }
  .sameHeightGridItem {
    height:100%;
  }
  .searchActionBar {
    button {
      margin-right:10px;
    }
  }
  .paginationHolder {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background-color:rgba(255, 255, 255, 1);
    padding-top:15px;
    padding-bottom:15px;
    z-index:50;
    text-align:right;
    box-shadow:0px -5px 15px rgba(0, 0, 0, 0.1);
  }
  .widget {
    position:relative;
    margin-top:15px;
    .header {

      h2 {
        font-size:22px;
        margin-top:0px;
        margin-bottom:0px;
        > a {

          &:hover {
            color: $colorPrimary;
          }
        }
      }
      .actions {
        text-align:right;
        display:block;
        padding-bottom:10px;
        button {
          font-weight:bold;
        }
      }
      padding-bottom:0px;
    }
    .area {
      border-top:1px solid #ccc;
      background-color:transparent;
      padding-top:15px;
      padding-bottom:15px;
    }
    &:first-of-type {
      border-top-style:none;
      margin-top:0px;
    }
    &.widgetEdge {
      margin-left:-15px;
      margin-right:-15px;
      margin-top:-15px;
      padding-bottom:20px;
      .promo {
        position:relative;
        background-color:#ffffff;
        box-shadow:0px 0px 5px rgba(0, 0, 0, 0.1);
        &:before {
          content: "";
          background-image:url("/promo2.png");
          background-size:2224px 652px;
          background-position: left -50px;
          background-repeat:repeat-x;
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          height:100%;
          opacity:0.6;
        }
        > div {
          position:relative;
          max-width:100%;
          width:100%;
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
          background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

          padding:15px;
          padding-top:40px;
          padding-bottom:40px;
          h1 {
            margin-top:0px;
            margin-bottom:0px;
            padding-bottom:30px;
          }
        }
      }
    }
  }
  .or {
    position:relative;
    text-align:center;
    margin-top:30px;
    margin-bottom:0px;
    &:before {
      content: "";
      position:absolute;
      width:100%;
      height:50%;
      left:0px;
      top:0px;
      border-bottom:1px solid #ccc;
    }
    > span {
      display:inline-block;
      background-color:#ffffff;
      color:#999;
      font-size:18px;
      position:relative;
      padding-left:20px;
      padding-right:20px;
    }
  }
  .facebookBtnHolder {
    text-align:center;
    .facebookBtn {
      background-color:#4267B2;
      &:hover {
        background-color:#3B5998;
      }
    }
  }
  .mainTitle {
    background-color:#fff;
    border-bottom:1px solid #ccc;
    margin-top:64px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    h1 {
      font-size:24px;
      margin-top:0px;
      margin-bottom:0px;
    }
    p {
      font-size:16px;
    }
  }
  .loader {
    opacity:0;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:transparent;
    z-index:-2;
    transition:all 0.4s;
    &.loading {
      opacity:1;
      z-index:1111;
    }
    > div {
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-20px;
      margin-top:-20px;
    }
  }
  .editMetaBtn {
    .editMetaBtnLabel {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .content {
    margin-top:64px;
    padding:15px;
    &.contentPrimary {
      
    }
    &.contentFilled {
      padding:15px;
    }
    &.contentFullScreen {
      margin-top:0px;
      padding:0px;
    }
    &.contentSmall {
      max-width:600px;
      margin-top:64px;
      margin-left:auto;
      margin-right:auto;
    }
    &.contentWithTitle {
      margin-top:0px;
      &.contentSmall {
        margin-top:0px;
      }
    }
    .contentInner {
      h1 {
        margin-top:0px;
      }
    }
  }
  .loginSignupPromo {
    text-align:right;
  }
  .loginForgotPassword {
    text-align:right;
  }
  .signupLoginPromo {
    text-align:right;
  }
  .logo {
    flex-grow: 1;
    margin-left:10px;
    font-size:24px;
    cursor:pointer;
    svg {
      position:relative;
      top:4px;
    }
  }
  .secondaryToolbar {
    background-color: rgba(#ffffff, 0.6);
    backdrop-filter: blur(2px);
    margin-top:64px;
  }
  .pane {
    flex: 1;
    margin-left: -15px;
    margin-right: -15px;
    margin-top:-30px;
    position:relative;
    top:32px;
    background-color: $colorBack;
    cursor:move;
    .react-transform-element {
      width:calc(100vw - 30px);
      height:calc(100vh - 97px);
      height:calc(var(--vh, 1vh) * 100 - 82px);
      .question {
        width:400px;
        position:absolute;
        background-color:rgba(#ffffff, 0.3);
        .questionPoint {
          position:relative;
          left:-12px;
          top:-22px;
        }
        .answerPoint {
          position: absolute;
          height: 100%;
          width:100%;
          left: 0px;
          top: 0px;
        }
        .linkingOverlay {
          display:none;
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          height:100%;
          font-size:20px;
          color:rgba($colorPrimary, 1);
          background-color:rgba($colorPrimary, 0.4);
          cursor:pointer;
          > svg {
            position:absolute;
            left:50%;
            top:50%;
            margin-left:-50px;
            margin-top:-50px;
            text-align:center;
            width:100px;
            height:100px;
          }
          &:hover {
            background-color:rgba($colorPrimary, 1);
            color:#fff;
          }
        }
        &.linked {
          background-color:#ffffff;
        }
        &.linking {
          background-color:#ffffff;
          .linkingOverlay {
            display:block;
          }
        }
        &.start {
          background-color:#ffffff;
        }
      }
    }
  }
  .react-transform-component {
    width:100% !important;
    height:100% !important;
  }
  .answerItems {
    list-style-type:none;
    padding-left:0px;
  }
  .answerItem {
    list-style-type:none;
    margin-bottom:10px;
  }
  .handle {
    cursor:grab !important;
  }
  #visualizations {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    pointer-events:none;
  }
  .answerInput {
    &.linked {
      .MuiInput-underline:before {
        border-right: 2px solid $colorSecondary;
        border-bottom: 2px solid $colorSecondary;
        height: 30px;
        margin-right: -16px;
      }
    }
  }
  .answerInput {
    .MuiFab-sizeSmall {
      margin-left:10px;
      width: 26px;
      /* width: 30px; */
      height: 5px;
      min-height: 26px;
      box-shadow: none;
      font-size: 11px;
      line-height: 15px;
      .MuiSvgIcon-root {
        width:20px;
        height:20px;
      }
    }
  }
  .hidden {
    display:none !important;
  }
  .wrapped {
    min-height:calc(100vh - 159px);
    min-height:calc(var(--vh, 1vh) * 100 - 159px);
    .content {
      min-height:calc(100vh - 159px);
      min-height:calc(var(--vh, 1vh) * 100 - 159px);
      &.contentWithTitle {
        min-height:calc(100vh - 215px);
        min-height:calc(var(--vh, 1vh) * 100 - 215px);
      }
    }
    &.centered {
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        .contentInner {
          flex:1;
        }
      }
    }
  }
  .decorated {
    position:relative;
    background-color:#ffffff;
    &:before {
      content: "";
      background-image:url("/promo2.png");
      background-size:2224px 652px;
      background-position: left bottom;
      background-repeat:repeat-x;
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      opacity:0.7;
      filter:saturate(1);
      opacity:0.3;
      background-color:#eee;
    }
    > div {
      position:relative;
    }
    .contentInner {
      background-color:rgba(#ffffff, 1);
      backdrop-filter:blur(4px);
    }
  }
}

.block {
  display:block;
}
.handle1 {
  width:100%;
  height:100%;
  position:relative;
  width: 100%;
  height: 38px;
  border-radius:3px;
  border:1px dashed #ccc;
  background-color:#f3f3f3;
  color:#999;
  text-align:center;
  margin-bottom:-15px;
  > svg {
    position:relative;
    top:7px;
  }
}

.adventureStateIndicator {
  float:right;
  height:38px;
  padding-left:10px;
  padding-right:10px;
  background-color:#111;
  margin-top:9px;
  border-radius:5px;
  box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  display:inline-block;

}

.genreSelector, .genreSelectorItem {
  .MuiIcon-root {
    font-size:inherit;
    position:relative;
    top:1px;
    width:24px;
  }
}

@import "view";
@import "themes";

@media (max-width: $smBreak) {
  .app {
    .auxMenu {
      display:none;
    }
    .content {
      margin-top:56px;
      &.contentSmall {
        margin-top:56px;
      }
      &.contentFilled {
        margin-top:56px;
      }
      &.contentWithTitle {
        margin-top:0px;
        &.contentSmall {
          margin-top:0px;
        }
      }
    }
    .secondaryToolbar {
      margin-top:56px;
    }
    .mainTitle {
      margin-top:56px;
    }
    .wrapped {
      min-height:calc(100vh - 150px);
      min-height:calc(var(--vh, 1vh) * 100 - 150px);
      .content {
        min-height:calc(100vh - 150px);
        min-height:calc(var(--vh, 1vh) * 100 - 150px);
        &.contentWithTitle {
          min-height:calc(100vh - 206px);
          min-height:calc(var(--vh, 1vh) * 100 - 206px);
        }
      }
    }
    .decorated {
      position:relative;
      background-color:transparent;
      &:before {
        background-image:none;
        background-color:transparent;
      }
    }
  }
}

@media (max-width: $smBreak) and (orientation:landscape) {
  .app {
    .content {
      margin-top:48px;
      &.contentSmall {
        margin-top:48px;
      }
      &.contentFilled {
        margin-top:48px;
      }
      &.contentWithTitle {
        margin-top:0px;
        &.contentSmall {
          margin-top:0px;
        }
      }
    }
    .secondaryToolbar {
      margin-top:48px;
    }
    .mainTitle {
      margin-top:48px;
    }
    .wrapped {
      min-height:calc(100vh - 142px);
      min-height:calc(var(--vh, 1vh) * 100 - 142px);
      .content {
        min-height:calc(100vh - 150px);
        min-height:calc(var(--vh, 1vh) * 100 - 142px);
        &.contentWithTitle {
          min-height:calc(100vh - 206px);
          min-height:calc(var(--vh, 1vh) * 100 - 198px);
        }
      }
    }
    .decorated {
      position:relative;
      background-color:transparent;
      &:before {
        background-image:none;
        background-color:transparent;
      }
    }
  }
}