.theme.default {
  .view {
    .item {
      position:relative;
      background-color:#ddd;
      .question {
        color:#333333;
        position:relative;
        background-color:transparent;
        z-index:0;
        > div {
          > span {
            position:relative;
            display:inline-block;
            min-width:100%;
            > span {
              position:relative;
              margin-top:20px;
            }
          }
        }
        .title {
          color:#333333;
          position:relative;
          > span {
            position:relative;
            display:inline-block;
            min-width:100%;
            font-size:130%;
            &:nth-child(2) {
              margin-top:1vh;
              padding-top:1vh;
              display:block;
            }
            &:nth-child(3) {
              margin-top:1vh;
              padding-top:1vh;
              display:block;
              > i {
                margin-right:10px;
              }
            }
            > span {
              position:relative;
            }
          }
        }
        .answers {
          z-index:0;
          .answer {
            display:block;
            color:$colorSecondary;
            text-decoration:none;
            background-color:rgba(#ffffff, 0.6);
            position:relative;
            &:hover {
              background-color:rgba(#ffffff, 1);
            }
            &.back {
              color:#999;
            }
          }
        }
      }
      .decorator {
        position:absolute;
        display:block;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        z-index:0;
        overflow:hidden;
        > i {
          position:absolute;
          display:block;
          top:-10vw;
          right:-10vw;
          font-size:75vw;
          color:#cfcfcf;
        }
      }
    }
    .navbar {
      background-color:rgba(#333333, 0.1);
      backdrop-filter: none;
      color:#fff;
      z-index:2;
      position:fixed;
      .poweredBy {
        color:#fff;
      }
    }
  }
  .preview {
    position:relative;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    padding-bottom:0px;
    background-color: #dddddd;
    &:before {
      content: "";
      width:100%;
      height:100%;
      position:absolute;
      top:0px;
      left:0px;
      opacity:0.5;
      background-color:#dddddd;
    }
    > span {
      background-color:#ffffff;
      color: $colorSecondary;
      padding-left:6px;
      padding-right:6px;
      padding-top:4px;
      padding-bottom:4px;
      display:block;
      position:relative;
      font-size:22px;
      text-align:center;
      transition: transform 0.2s;
    }
    &:hover {
      > span {
        transform: translateX(20px);
      }
    }
  }
  .MuiPaper-root {
    position:relative;
    background-color: #ffffff;
    > div {
      position:relative;
      z-index:2;
      padding:15px;
      h2 {
        font-size:24px;
        color: #111111;
        margin-bottom:0px;
        margin-top:0px;
      }
      h3 {
        font-size:24px;
        color: #111111;
        margin-bottom:0px;
        margin-top:0px;
        opacity:0.8;
      }
      h4 {
        font-size:18px;
        color: #111111;
        margin-bottom:0px;
        margin-top:0px;
        opacity:1;
        padding-top:5px;
        padding-bottom:5px;
        .MuiIcon-root {
          font-size:18px;
          position:relative;
          top:1px;
          width:auto;
        }
      }
      p {
        font-size:18px;
        color: #111111;
        opacity:0.8;
      }
    }
    .actions {
      overflow:auto;
      max-width:100%;
      border-radius:5px;
      
    }
    .decorator {
      position:absolute;
      bottom:0px;
      right:0px;
      width:100%;
      height:100%;
      opacity:0.07;
      overflow:hidden;
      z-index:0;
      pointer-events:none;
      filter:grayscale(100%);
      .MuiIcon-root {
        font-size:400px;
        margin-top:-200px;
        width:auto;
        height:400px;;
        position:absolute;
        top:50%;
        right:-100px;
        transition:all 0.3s;
      }
    }
    &:hover {
      .decorator {
        .MuiIcon-root {
          font-size:480px;
          height:480px;
          margin-top:-240px;
          width:auto;
          position:absolute;
          right:-120px;
        }
      }
    }
  }
  .editMetaBtn {
    position:relative;
    background-color:#ffffff;
    color:$colorSecondary;
    > span {
      position:relative;
    }
    &:hover {
      background-color:#ddd;
    }
  }
  &.MuiMenuItem-root {
    padding:0px;
    &.Mui-selected {
      
    }
    &:first-child {
      margin-top:-8px;
    }
    &:last-child {
      margin-bottom:-8px;
    }
  }
  &.searchItem {
    height:100%;
    .MuiPaper-root {
      height:100%;
      margin-bottom:90px;
      &:hover {

      }
      .actions {
        position:absolute;
        bottom:0px;
        left:0px;
      }
    }
    &.clickable {
      position:relative;
      border-radius:4px;
      overflow:hidden;
      color:orange;
      .MuiPaper-root {
        margin-bottom:0px;
      }
      &:after {
        content: "Begin";
        position:absolute;
        height:50px;
        line-height:50px;
        text-align:center;
        color:#ffffff;
        background-color:inherit;
        box-shadow:0px -2px 5px rgba(0, 0, 0, 0.1);
        width:100%;
        bottom:0px;
        opacity:0;
        left:0px;
        pointer-events:none;
        z-index:100;
        font-size:24px;
        transition: opacity 0.4s;
        backdrop-filter: blur(2px);
      }
      &:hover {
        &:after {
          opacity:0.7;
        }
      }
      &.continue {
        &:after {
          content: "Continue";
        }
      }
    }
  }
}